<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script src="/js/vue.js"></script>

    <link href="/css/globals.css" rel="stylesheet" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <title><?= $title ?? 'PHP MVC' ?></title>
    <meta
      name="description"
      content="<?= $description ?? 'PHP MVC Application' ?>"
    />
  </head>

  <body class="min-h-dvh font-sans antialiased">
    <?= $content ?>
  </body>
</html>
